div>div{
	height: 100px;
	width:  25%;
	float: left;
   }

 .uno{
	border:2px solid purple;
	width: 800px;
	margin-top: 20px;
}  

 .amarillo{
 	background: yellow;
 }

.azul{
 	background: blue;
}

.rojo{
 	background: red;
}

.clearfix:before, .clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.clearfix:after{
	clear: both;
}